<nav>
  <ul>
    <div class="dvach">
      <i class="fas fa-bolt" ></i> 
    </div>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Статьи</a></li>
    <li><a href="/add-post">Добавить статью</a></li>
    <li><a href="/top-posts">Топ статей</a></li>
  </ul>
</nav>