<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include('./partials/nav.ejs') %>
            <h1>Лабораторная работа по БД</h1>
            <p>Делаем лабораторную работу при помощи Node.js Express, EJS, MongoDB</p>
    </body>

</html>